{% extends 'base.html' %}
{% load static %}
{% block content %}
<main class="container my-4">
	<!-- Featured Products -->
	<h3 class="my-4 border-bottom pb-1">Заказы</h3>
	<div class="row">
		<div class="col-md-3">
			{% include 'user/user-sidebar.html' %}
		</div>
		<div class="col-md-9">
			<div class="table-responsive">
				<table class="table-bordered table">
					<thead>
						<tr>
							<th>Товар</th>
							<th>Цена</th>
							<th>Имя</th>
							<th>Адрес</th>
							<th>Номер</th>
							<th>Комментарии</th>
						</tr>
					</thead>
					<tbody>
						{% for order in orders %}
						<tr>
							<td><a href="/product/{{order.product.slug}}/{{order.product.id}}">{{order.product.title}}</a></td>
							<td>{{order.product.productattribute_set.first.price}}</td>
							<td>{{order.user}}</td>
							<td>{{order.user.useraddressbook_set.first.address}}</td>
							<td>{{order.user.useraddressbook_set.first.mobile}}</td>
							<td>{{order.comment}}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</main>
{% endblock %}