{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <h1> Ваш Заказ </h1>
    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Товар</th>
            <th scope="col">Количество</th>
            <th scope="col">Имя</th>
            <th scope="col">Адрес</th>
            <th scope="col">Номер Телефона</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <a href="/product/{{data.slug}}"><td>{{data.product}}</a></td>
            <td>{{data.quan}}</td>
            <td>{{data.customer_name}}</td>
            <td>{{data.address}}</td>
            <td>{{data.phone_number}}</td>
          </tr>
        </tbody>
      </table>
      
</div>
{% endblock %}